/* line 1, ../scss/style.scss */
#wrapper {
  margin: auto;
  max-width: 100%;
  width: 960px;
}

/* line 6, ../scss/style.scss */
#header .left {
  float: left;
  padding: 15px;
}

/* line 10, ../scss/style.scss */
#header .right {
  float: right;
  padding: 15px;
  text-align: right;
}

/* line 15, ../scss/style.scss */
#header .right label[for="location"] {
  display: block;
}

/* line 18, ../scss/style.scss */
#header .right .address .zip,
#header .right .address .street {
  display: block;
}

/* line 22, ../scss/style.scss */
#header .right .section {
  float: left;
  margin: 0 15px 15px 0;
}

/* line 26, ../scss/style.scss */
#header .hours-box span:after {
  content: '\A';
  white-space: pre;
}
